:root {
    --primary-brand: #4D5AE5;
    --pressed-state: #404BBF;
    --dark: #2E2F42;
    --Success: #31D0AA;
    --text: #434455;
    --subtle-text: #8E8F99;
    --accent: #E7E9FC;
    --light: #F4F4FD;
    --modal-overlay: #2E2F42;
    --hero-background: #2E2F42;
    --white-background: #FFFFFF;
    --modal-background: #FCFCFC;
}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--text);
    background-color: var(--white-background);
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* --------- Header part --------- */
/* у header використати  justify-content: space-between;*/
.head-site {
    border-bottom: 1px solid var(--accent);
}
.head-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation-site {
    display: flex;
}

.logo {
    display: block;

    color: var(--primary-brand);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-right: 76px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.logo-decoration {
    color: var(--dark);
}

.navigation-list{
    display: flex;
    align-items: center;
    gap: 40px;
}
.link-decoration {
    color: var(--dark);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contact {
    font-style: normal;
}
.contact-site{
    display: flex;
    gap: 40px;
}
.items-decoration .link-decoration {
    color: var(--text);
    font-weight: 400;
}

.link-decoration:hover,
.link-decoration:focus {
    color: var(--pressed-state);
}

/* --------- Hero part --------- */
.hero {
    background-color: var(--hero-background);
    text-align: center;

    padding-top: 188px;
    padding-bottom: 188px;
}

.hero-title {
    color: var(--white-background);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;

    margin-bottom: 48px;
}
.hero-btn {
    cursor: pointer;
    color: var(--white-background);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;

    background-color: var(--primary-brand);
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    padding: 16px 32px;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--pressed-state);
}

/* --------- Features part --------- */
.benefits-list {
    display: flex;
    gap: 24px;
}

.general-title {
    color: var(--dark);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;

    margin-bottom: 8px;
}

.general-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.017em;
}

/* Team part */
.team {
    background-color: var(--light);
}

.team-list {
    background-color: var(--white-background);
}

.team-title {
    color: var(--dark);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

/* Portfolio part */
/* Задати розміри карткам через flex-basis: calc((100% - 72) / 3);
додати gap: 24px;
приклад я позбавитися верхньої рамки:
border: 1px solid black;
border-top: none;
*/
.portfolio-title {
    color: var(--dark);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

/* Footer part */
.site-bootom {
    background-color: var(--dark);
}

.site-bootom .logo-decoration {
    color: var(--light);
}

.site-bootom .general-text {
    color: var(--light);
}